*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Gilroy";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #151313;
  background-color: #FAFAFA;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 158.2rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

section {
  margin-bottom: 18rem;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 4rem;
    width: 100%;
  }
  section {
    margin-bottom: 20rem;
  }
}
.button {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.4rem 5rem;
  font-family: "Tablo'n";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: white;
  overflow: hidden;
}
.button > span:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -4;
  width: calc(100% - 6.4rem);
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #DE2C2C;
}
.button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  width: 8rem;
  height: 8rem;
  -webkit-transform: rotate(32deg) translate(1.1rem, -1.3rem);
          transform: rotate(32deg) translate(1.1rem, -1.3rem);
  background-color: #DE2C2C;
}
.button:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  z-index: -5;
  width: 8rem;
  height: 8rem;
  -webkit-transform: rotate(35deg) translate(-2.7rem, -1.2rem);
          transform: rotate(35deg) translate(-2.7rem, -1.2rem);
  background-color: #DE2C2C;
}
.button:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Tablo'n";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #DE2C2C;
  text-transform: uppercase;
}
.link > svg {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 1.1rem;
  height: 1.4rem;
  margin-left: 0.8rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.link > svg path {
  fill: #DE2C2C;
}
.link > svg + svg {
  margin-left: 2px;
}
.link:hover > svg {
  -webkit-transform: translateX(0.6rem);
          transform: translateX(0.6rem);
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  -webkit-column-gap: 11rem;
     -moz-column-gap: 11rem;
          column-gap: 11rem;
}
.slider-nav .slider-nav__pagination .swiper-pagination-bullet {
  width: 4.1rem;
  height: 2px;
  margin: 0;
  border-radius: 100rem;
  background-color: rgba(127, 139, 138, 0.5);
}
.slider-nav .slider-nav__pagination .swiper-pagination-bullet-active {
  background-color: #DE2C2C;
}
.slider-nav__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.slider-nav__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.slider-nav__arrow {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  border: 1px solid #99A3A2;
  background-color: white;
}
.slider-nav__arrow > svg {
  width: 2rem;
  height: 2rem;
}
.slider-nav__arrow > svg path {
  stroke: #DE2C2C;
}
.slider-nav__arrow .swiper-button-disabled > svg path {
  stroke: #7F8B8A;
}
.slider-nav__arrow:hover {
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2) inset;
}

.breadcrumbs {
  margin-top: 4rem;
  margin-bottom: 8rem;
}
.breadcrumbs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}
.breadcrumbs__item {
  position: relative;
  font-size: 1.6rem;
  line-height: 1;
  color: #959595;
}
.breadcrumbs__item:not(:first-child) {
  padding-left: 2.6rem;
}
.breadcrumbs__item:not(:first-child):before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  border-top: 0.6rem transparent solid;
  border-bottom: 0.6rem transparent solid;
  border-right: 1rem transparent solid;
  border-left: 1rem #959595 solid;
}
.breadcrumbs__item:last-child {
  color: #151313;
}
.breadcrumbs__item:last-child:before {
  border-left: 1rem #151313 solid;
}
.breadcrumbs__item:hover {
  color: #151313;
}
.breadcrumbs__item:hover:before {
  border-left: 1rem #151313 solid;
}

.page-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.6rem;
     -moz-column-gap: 3.6rem;
          column-gap: 3.6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.page-pagination__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.8rem;
     -moz-column-gap: 0.8rem;
          column-gap: 0.8rem;
  font-size: 1.6rem;
  line-height: 1;
  color: #959595;
}
.page-pagination__arrow > svg {
  width: 1.1rem;
  height: 1.4rem;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.page-pagination__arrow > svg path {
  fill: #959595;
}
.page-pagination__arrow:hover.prev > svg {
  -webkit-transform: translate(-0.6rem, -1px);
          transform: translate(-0.6rem, -1px);
}
.page-pagination__arrow:hover.next > svg {
  -webkit-transform: translate(0.6rem, -1px);
          transform: translate(0.6rem, -1px);
}
.page-pagination__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6.2rem;
  height: 4.2rem;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  border-left: 1px solid #959595;
  font-size: 1.6rem;
  line-height: 1;
  color: #959595;
}
.page-pagination__link:last-child {
  border-right: 1px solid #959595;
}
.page-pagination__link > span {
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}
.page-pagination__link.active {
  border-left: none;
  background-color: #DE2C2C;
  color: white;
}
.page-pagination__link.active:last-child {
  border-right: none;
}
.page-pagination__link.active + .page-pagination__link {
  border-left: none;
}
.page-pagination__link.active:hover {
  background-color: #DE2C2C;
}
.page-pagination__link:hover {
  background-color: #DDD;
}

@media (max-width: 48em) {
  .button {
    padding: 2.4rem 6.4rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .button > span:before {
    width: calc(100% - 11rem);
  }
  .button:before {
    width: 14rem;
    height: 14rem;
    -webkit-transform: rotate(32deg) translate(2rem, -3.4rem);
            transform: rotate(32deg) translate(2rem, -3.4rem);
  }
  .button:after {
    width: 14rem;
    height: 14rem;
    -webkit-transform: rotate(35deg) translate(-5.2rem, -2rem);
            transform: rotate(35deg) translate(-5.2rem, -2rem);
  }
  .link {
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
  .link > svg {
    width: 1.8rem;
    height: 2.4rem;
    margin-left: 1.2rem;
  }
  .link:hover > svg {
    -webkit-transform: translateX(1.2rem);
            transform: translateX(1.2rem);
  }
  .slider-nav .slider-nav__pagination .swiper-pagination-bullet {
    width: 6rem;
  }
  .slider-nav__arrow {
    width: 9.6rem;
    height: 9.6rem;
  }
  .slider-nav__arrow > svg {
    width: 3.2rem;
    height: 3.2rem;
  }
  .slider-nav__arrow:hover {
    -webkit-box-shadow: 0 0 1.6rem 0 rgba(0, 0, 0, 0.2) inset;
            box-shadow: 0 0 1.6rem 0 rgba(0, 0, 0, 0.2) inset;
  }
  .breadcrumbs {
    margin-bottom: 12rem;
  }
  .breadcrumbs__item {
    font-size: 2.6rem;
  }
  .breadcrumbs__item:not(:first-child) {
    padding-left: 3.6rem;
  }
  .breadcrumbs__item:not(:first-child):before {
    border-top: 1rem transparent solid;
    border-bottom: 1rem transparent solid;
    border-right: 1.6rem transparent solid;
    border-left: 1.6rem #7F8B8A solid;
  }
  .breadcrumbs__item:last-child:before {
    border-left: 1.6rem #151313 solid;
  }
  .breadcrumbs__item:hover:before {
    border-left: 1.6rem #151313 solid;
  }
  .page-pagination {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 5rem;
    width: 100%;
  }
  .page-pagination__arrow {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-column-gap: 1.2rem;
       -moz-column-gap: 1.2rem;
            column-gap: 1.2rem;
    font-size: 2.6rem;
  }
  .page-pagination__arrow > svg {
    width: 1.8rem;
    height: 2.4rem;
    -webkit-transform: none;
            transform: none;
  }
  .page-pagination__arrow:hover.prev > svg {
    -webkit-transform: translate(-0.6rem, 0);
            transform: translate(-0.6rem, 0);
  }
  .page-pagination__arrow:hover.next > svg {
    -webkit-transform: translate(0.6rem, 0);
            transform: translate(0.6rem, 0);
  }
  .page-pagination__numbers {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-pagination__link {
    width: 12rem;
    height: 7.2rem;
    font-size: 2.6rem;
  }
}
.header {
  position: relative;
  z-index: 5;
  background-color: white;
  -webkit-box-shadow: 2px 1.3rem 2.6rem -2.6rem rgba(66, 66, 66, 0.6);
          box-shadow: 2px 1.3rem 2.6rem -2.6rem rgba(66, 66, 66, 0.6);
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.8rem 0;
}
.header__logo {
  display: block;
  width: 22.8rem;
  height: 3.2rem;
}
.header__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__language-box {
  position: relative;
}
@media (min-width: 48.01em) {
  .header__language-box:hover .header__language-list {
    visibility: visible;
    opacity: 1;
  }
  .header__language-box:hover .header__language-arrow {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
}
.header__language-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
}
.header__language-btn > span {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.header__language-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 3rem;
}
.header__language-icon {
  width: 3rem;
  height: 3rem;
  margin-right: 0.8rem;
}
.header__language-icon path {
  stroke: #959595;
}
.header__language-arrow {
  width: 1rem;
  height: 0.6rem;
  margin-left: 0.4rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header__language-arrow path {
  fill: #151313;
}
.header__language-list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: calc(100% + 2rem);
  z-index: 3;
  padding: 1.5rem 2.5rem;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.header__language-list:before {
  content: "";
  position: absolute;
  bottom: calc(100% - 1rem);
  left: 50%;
  z-index: -2;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  border: 1rem transparent solid;
  border-top: 1rem white solid;
  border-left: 1rem white solid;
  -webkit-box-shadow: 0 0 1.2rem 0 rgba(66, 66, 66, 0.1098039216);
          box-shadow: 0 0 1.2rem 0 rgba(66, 66, 66, 0.1098039216);
}
.header__language-list:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0.8rem 1.2rem 0 rgba(66, 66, 66, 0.1098039216);
          box-shadow: 0 0.8rem 1.2rem 0 rgba(66, 66, 66, 0.1098039216);
}
.header__language-link {
  font-weight: 500;
  font-size: 2rem;
  color: #959595;
  cursor: pointer;
}
.header__language-link:not(:last-child) {
  margin-bottom: 1rem;
}
.header__language-link.active {
  color: #151313;
}
.header__language-link:hover {
  color: #151313;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.header__menu-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  line-height: 2.7rem;
}
.header__menu-item > a:hover {
  color: #959595;
}
.header__menu-item > svg {
  width: 1.2rem;
  height: 0.9rem;
  margin-left: 1.2rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header__menu-item > svg path {
  fill: #151313;
}
@media (min-width: 48.01em) {
  .header__menu-item:hover > svg {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  .header__menu-item:hover .header__list {
    visibility: visible;
    opacity: 1;
  }
}
.header__list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: calc(100% + 2rem);
  width: 32.4rem;
  padding: 2rem 2.4rem;
  background-color: white;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-box-shadow: 5px 0.8rem 1.2rem 0 rgba(66, 66, 66, 0.1098039216);
          box-shadow: 5px 0.8rem 1.2rem 0 rgba(66, 66, 66, 0.1098039216);
}
.header__list:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 2rem;
}
.header__list-item {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #959595;
}
.header__list-item:not(:last-child) {
  margin-bottom: 2.2rem;
}
.header__list-item:hover {
  color: #151313;
}
.header__phone {
  font-size: 2rem;
}
.header__phone:hover {
  color: #959595;
}
.header__phone-text {
  font-size: 1.4rem;
  color: #7F8B8A;
}
.header__burger-bg {
  display: none;
}
@media (max-width: 48em) {
  .header {
    position: relative;
    z-index: 5;
    background-color: white;
    -webkit-box-shadow: 2px 1.3rem 2.6rem -2.6rem rgba(66, 66, 66, 0.6);
            box-shadow: 2px 1.3rem 2.6rem -2.6rem rgba(66, 66, 66, 0.6);
  }
  .header__container-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem 4rem;
  }
  .header__content {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    width: 56rem;
    height: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    padding: 6.4rem 4rem;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__content .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 12rem;
  }
  .header__content .header__logo > img {
    -o-object-position: left;
       object-position: left;
  }
  .header__content.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__burger {
    position: relative;
    width: 6.4rem;
    height: 6.4rem;
  }
  .header__burger > span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px;
    border-radius: 100rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: #151313;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .header__burger:before {
    content: "";
    position: absolute;
    left: 0;
    top: 1rem;
    width: 100%;
    height: 3px;
    border-radius: 100rem;
    background-color: #151313;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__burger:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    height: 3px;
    border-radius: 100rem;
    background-color: #151313;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__logo {
    width: 30.8rem;
    height: 3.6rem;
  }
  .header__phone-mob {
    width: 4.8rem;
    height: 4.8rem;
  }
  .header__phone-mob path {
    fill: #151313;
  }
  .header__language-box {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 6.4rem;
  }
  .header__language-btn {
    font-size: 4rem;
  }
  .header__language-btn > span {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  .header__language-btn:before {
    content: none;
  }
  .header__language-btn.active .header__language-arrow {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  .header__language-icon {
    width: 6rem;
    height: 6rem;
    margin-right: 1.6rem;
  }
  .header__language-arrow {
    width: 2.4rem;
    height: 1.8rem;
    margin-left: 0.8rem;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__language-list {
    display: none;
    visibility: visible;
    opacity: 1;
    position: static;
    padding: 2rem 0 0 7.6rem;
  }
  .header__language-list:before {
    content: none;
  }
  .header__language-list:after {
    content: none;
  }
  .header__language-link {
    font-size: 4rem;
  }
  .header__language-link:not(:last-child) {
    margin-bottom: 2rem;
  }
  .header__menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    gap: 4rem;
    margin-bottom: 8rem;
  }
  .header__menu-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
  .header__menu-item > svg {
    width: 2.4rem;
    height: 1.8rem;
    margin-left: 2.4rem;
  }
  .header__menu-item.active > svg {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  .header__list {
    display: none;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    visibility: visible;
    opacity: 1;
    position: static;
    width: 100%;
    padding: 3.2rem 0 0 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__list:before {
    content: none;
  }
  .header__list-item {
    font-size: 3rem;
    line-height: 4rem;
  }
  .header__list-item:not(:last-child) {
    margin-bottom: 2.4rem;
  }
  .header__phone-box {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-bottom: 6.4rem;
  }
  .header__phone {
    font-size: 5.2rem;
  }
  .header__phone-text {
    font-size: 3rem;
  }
  .header__request-link {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .header__burger-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background: rgba(0, 3, 21, 0.5);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  .header__close-btn {
    position: absolute;
    right: 4rem;
    bottom: 4rem;
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
    background-color: #FDFEFF;
    -webkit-box-shadow: 0 0 0 0 rgba(23, 25, 28, 0.1019607843), 0 0.4rem 0.8rem 0 rgba(23, 25, 28, 0.1019607843), 0 1.4rem 1.4rem 0 rgba(23, 25, 28, 0.0901960784), 0 3rem 1.8rem 0 rgba(23, 25, 28, 0.0509803922), 0 5.2rem 2rem 0 rgba(23, 25, 28, 0.0117647059), 0 8.2rem 2.2rem 0 rgba(23, 25, 28, 0);
            box-shadow: 0 0 0 0 rgba(23, 25, 28, 0.1019607843), 0 0.4rem 0.8rem 0 rgba(23, 25, 28, 0.1019607843), 0 1.4rem 1.4rem 0 rgba(23, 25, 28, 0.0901960784), 0 3rem 1.8rem 0 rgba(23, 25, 28, 0.0509803922), 0 5.2rem 2rem 0 rgba(23, 25, 28, 0.0117647059), 0 8.2rem 2.2rem 0 rgba(23, 25, 28, 0);
  }
  .header__close-btn:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3rem;
    height: 2px;
    border-radius: 100rem;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    background-color: #151313;
  }
  .header__close-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3rem;
    height: 2px;
    border-radius: 100rem;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #151313;
  }
}
body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 39.2rem;
}
@media (max-width: 48em) {
  body {
    padding-bottom: 124rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 -1.3rem 2.6rem -2.6rem rgba(66, 66, 66, 0.6);
          box-shadow: 0 -1.3rem 2.6rem -2.6rem rgba(66, 66, 66, 0.6);
}
.footer__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16rem;
  padding: 6rem 0;
}
.footer__bg {
  position: absolute;
  left: -16.9rem;
  top: 0;
  width: 54.2rem;
  height: 100%;
  opacity: 0.38;
}
.footer__bg > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__box--phone {
  position: relative;
  z-index: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 35rem;
}
.footer__box--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__phone-box {
  margin-bottom: 4rem;
}
.footer__phone {
  display: block;
  font-size: 4rem;
  line-height: 5.4rem;
}
.footer__phone:hover {
  color: #959595;
}
.footer__phone-text {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #959595;
}
.footer__list-title {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 2.4rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.footer__list-title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #151313;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.footer__list-title:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.footer__list:not(:last-child) {
  margin-bottom: 2.8rem;
}
.footer__list-item {
  font-size: 2rem;
  line-height: 2.7rem;
  color: #959595;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 2rem;
}
.footer__list-item:hover {
  color: #151313;
}
.footer__logo-box {
  margin-top: auto;
}
.footer__logo-text {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  color: #959595;
}
.footer__logo {
  display: block;
  width: 16rem;
  height: 3.8rem;
}
.footer__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__container-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2rem 0;
  background-color: #7F8B8A;
  font-size: 2rem;
}
.footer__container-bottom:before {
  content: "";
  position: absolute;
  left: -16.9rem;
  bottom: 0;
  width: 100vw;
  height: 100%;
  background-color: #7F8B8A;
}
.footer__container-bottom > * {
  position: relative;
}
.footer__container-bottom > *:first-child {
  width: 35rem;
  margin-right: 16rem;
}

@media (max-width: 48em) {
  .footer {
    -webkit-box-shadow: 0 -2.6rem 5.2rem -5.2rem rgba(66, 66, 66, 0.6);
            box-shadow: 0 -2.6rem 5.2rem -5.2rem rgba(66, 66, 66, 0.6);
  }
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 4rem;
    padding: 8rem 4rem 5.6rem 4rem;
  }
  .footer__bg {
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 38.4rem;
  }
  .footer__box {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
  }
  .footer__box--phone {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
    width: 100%;
    margin-top: 9.6rem;
  }
  .footer__box--phone .button {
    margin: 0 auto;
  }
  .footer__box--logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 4rem;
  }
  .footer__box--logo > * {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
  }
  .footer__phone-box {
    margin-bottom: 6.4rem;
    text-align: center;
  }
  .footer__phone {
    font-size: 6rem;
    line-height: 8rem;
  }
  .footer__phone-text {
    font-size: 3rem;
    line-height: 4rem;
  }
  .footer__list-title {
    margin-bottom: 4rem;
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
  .footer__list:not(:last-child) {
    margin-bottom: 0;
  }
  .footer__list-item {
    font-size: 3rem;
    line-height: 4rem;
  }
  .footer__list-item:not(:last-child) {
    margin-bottom: 2.4rem;
  }
  .footer__logo-text {
    margin-bottom: 2.8rem;
    font-size: 2.6rem;
  }
  .footer__logo {
    width: 24rem;
    height: 5.6rem;
  }
  .footer__container-bottom {
    display: block;
    padding: 2.4rem 4rem;
    font-size: 3rem;
  }
  .footer__container-bottom:before {
    left: 0;
  }
  .footer__container-bottom > *:first-child {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.6rem;
  }
}
.main-intro {
  position: relative;
  padding: 6rem 0 2rem 0;
}
.main-intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-intro__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
}
.main-intro__bg > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-intro__text-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 79.4rem;
}
.main-intro__title {
  margin-bottom: 4rem;
  font-family: "Tablo'n";
  font-weight: 500;
  font-size: 4rem;
  line-height: 5.2rem;
  letter-spacing: 0.03em;
}
.main-intro__list {
  margin-bottom: 4rem;
}
.main-intro__list-item {
  position: relative;
  padding-left: 3.2rem;
  font-size: 2rem;
  line-height: 2.7rem;
  color: #959595;
}
.main-intro__list-item:not(:last-child) {
  margin-bottom: 1.2rem;
}
.main-intro__list-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1.2rem;
  width: 2rem;
  height: 1px;
  background-color: #959595;
}
.main-intro__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6rem;
}
.main-intro__slider-box {
  width: 77.6rem;
}
.main-intro__slider {
  width: 100%;
  height: 70rem;
  margin-bottom: 4rem;
}
.main-intro__slider:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 65.2rem;
  height: 48.7rem;
  border-radius: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(232, 232, 232, 0.57);
}
.main-intro__slider:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 58.2rem;
  height: 52.7rem;
  border-radius: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(226, 223, 223, 0.71);
}
.main-intro__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  padding: 5.5rem 4rem 3.5rem 4rem;
  border-radius: 2rem;
  color: white;
}
.main-intro__slide:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4rem;
  z-index: -1;
  width: 100%;
  height: calc(100% - 4rem);
  border-radius: inherit;
  background-color: #D9DCDC;
}
.main-intro__slide-bg-top {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}
.main-intro__slide-bg-top > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}
.main-intro__slide-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding: 4rem 2rem 2rem 2rem;
  border-radius: inherit;
}
.main-intro__slide-bg > img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-intro__slide-tag {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 2.7rem;
}
.main-intro__slide-title {
  padding-bottom: 2rem;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid #959595;
  font-family: "Tablo'n";
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.03em;
}
.main-intro__slide-link {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: white;
}
.main-intro__slide-link > svg path {
  fill: white;
}
@media (max-width: 48em) {
  .main-intro {
    padding: 8rem 0 6rem 0;
  }
  .main-intro__container {
    display: block;
  }
  .main-intro__text-block {
    width: 100%;
    margin-bottom: 8rem;
  }
  .main-intro__title {
    font-size: 4.8rem;
    line-height: 6.2rem;
  }
  .main-intro__list {
    margin-bottom: 6.4rem;
  }
  .main-intro__list-item {
    padding-left: 5.2rem;
    font-size: 3rem;
    line-height: 4rem;
  }
  .main-intro__list-item:not(:last-child) {
    margin-bottom: 1.6rem;
  }
  .main-intro__list-item:before {
    top: 1.8rem;
    width: 3.6rem;
  }
  .main-intro__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
  }
  .main-intro__slider-box {
    width: 100%;
  }
  .main-intro__slider {
    width: calc(100% + 8rem);
    height: 70rem;
    margin: 0 -4rem 6.4rem -4rem;
    padding: 0 4rem;
  }
  .main-intro__slider:before {
    width: 67rem;
    height: 50.4rem;
    border-radius: 3rem;
  }
  .main-intro__slider:after {
    width: 60rem;
    height: 54.4rem;
    border-radius: 3rem;
  }
  .main-intro__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    padding: 5.5rem 4rem 3.5rem 4rem;
    border-radius: 2rem;
    color: white;
  }
  .main-intro__slide:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4rem;
    z-index: -1;
    width: 100%;
    height: calc(100% - 4rem);
    border-radius: inherit;
    background-color: #D9DCDC;
  }
  .main-intro__slide-bg-top {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
  }
  .main-intro__slide-bg-top > img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
  .main-intro__slide-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 4rem 2rem 2rem 2rem;
    border-radius: inherit;
  }
  .main-intro__slide-bg > img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-intro__slide-tag {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2.7rem;
  }
  .main-intro__slide-title {
    padding-bottom: 2rem;
    margin-bottom: 2.4rem;
    border-bottom: 1px solid #959595;
    font-family: "Tablo'n";
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: 0.03em;
  }
  .main-intro__slide-link {
    -ms-flex-item-align: end;
        align-self: flex-end;
    color: white;
  }
  .main-intro__slide-link > svg path {
    fill: white;
  }
  .main-intro__slider-nav {
    width: 100%;
  }
  .main-intro__slider-nav .slider-nav__arrows {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
.sales-leader__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4rem;
  margin-bottom: 6rem;
}
.sales-leader__title-box .link {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.sales-leader__title {
  font-family: "Tablo'n";
  font-weight: 500;
  font-size: 6rem;
  line-height: 7.8rem;
  letter-spacing: 0.03em;
}
.sales-leader__slider {
  margin-bottom: 4rem;
}
.sales-leader__slide {
  padding: 3.2rem 3.2rem 2.2rem 3.2rem;
  border-radius: 2rem;
  background-color: white;
}
.sales-leader__img-box {
  width: 100%;
  height: 22.6rem;
  padding: 2.4rem;
  margin-bottom: 2.4rem;
  border-radius: inherit;
  background-color: #F3F3F3;
}
.sales-leader__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sales-leader__slide-title {
  margin-bottom: 1.2rem;
  font-family: "Tablo'n";
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: 0.03em;
}
.sales-leader__slide-title--slim {
  font-family: "Gilroy";
  font-weight: 300;
}
.sales-leader__slide-tag {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 3rem;
  margin-bottom: 3.2rem;
  border-radius: 0.5rem 3rem 3rem 0.5rem;
  background-color: #7F8B8A;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: white;
}
.sales-leader__slide-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 2.7rem;
  color: #959595;
}
.sales-leader__slide-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sales-leader__slide-price-box {
  position: relative;
  padding: 0.8rem 2.2rem;
  background-color: #F3F3F3;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #7F8B8A;
}
.sales-leader__slide-price-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: white;
}
.sales-leader__slide-price-box:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border-radius: 100%;
  background-color: white;
}
.sales-leader__slide-price {
  margin: 0 0.6rem;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
}
.sales-leader__slide-currency {
  font-weight: 600;
}
.sales-leader__nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 48em) {
  .sales-leader__title-box {
    margin-bottom: 8rem;
  }
  .sales-leader__title {
    font-size: 5.2rem;
    line-height: 6.8rem;
  }
  .sales-leader__slider {
    margin-bottom: 7rem;
  }
  .sales-leader__slide {
    padding: 4rem 4rem 5.6rem 4rem;
    border-radius: 3rem;
  }
  .sales-leader__img-box {
    height: 43.4rem;
    padding: 4.4rem;
    margin-bottom: 4rem;
  }
  .sales-leader__slide-title {
    margin-bottom: 3.2rem;
    font-size: 5.2rem;
    line-height: 6.8rem;
  }
  .sales-leader__slide-tag {
    padding: 0.8rem 4rem;
    margin-bottom: 4rem;
    border-radius: 1rem 6rem 6rem 1rem;
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
  .sales-leader__slide-text {
    margin-bottom: 5rem;
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
  .sales-leader__slide-price-box {
    padding: 1.6rem 4rem;
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
  .sales-leader__slide-price-box:before {
    width: 3.2rem;
    height: 3.2rem;
  }
  .sales-leader__slide-price-box:after {
    width: 3.2rem;
    height: 3.2rem;
  }
  .sales-leader__slide-price {
    margin: 0 0 0 0.8rem;
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
  .sales-leader__nav-block {
    margin-bottom: 5rem;
  }
}
.work__title {
  margin-bottom: 6rem;
  font-family: "Tablo'n";
  font-weight: 500;
  font-size: 6rem;
  line-height: 7.8rem;
  letter-spacing: 0.03em;
}
.work__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}
.work__item {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  max-width: 50.8rem;
  padding-top: 0.4rem;
  border-radius: 2rem;
  background-color: white;
  -webkit-box-shadow: 2px 1.3rem 2.6rem 0 rgba(66, 66, 66, 0.0509803922);
          box-shadow: 2px 1.3rem 2.6rem 0 rgba(66, 66, 66, 0.0509803922);
}
.work__img-box {
  width: 100%;
  height: 42.1rem;
  padding: 0 0.4rem;
  border-radius: inherit;
}
.work__img-box > img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.work__item-content {
  position: relative;
  padding: 3.2rem 4rem;
  margin-top: -2.4rem;
  border-radius: inherit;
  background-color: white;
}
.work__item-title {
  margin-bottom: 1.2rem;
  font-family: "Tablo'n";
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.2rem;
  letter-spacing: 0.03em;
}
.work__item-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3.2rem;
}
.work__tag {
  padding: 0.8rem 3rem;
  border-radius: 0.5rem 3rem 3rem 0.5rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: white;
}
.work__tag:nth-child(odd) {
  background-color: #7F8B8A;
}
.work__tag:nth-child(even) {
  background-color: #151313;
}
.work__list {
  margin-bottom: 2.2rem;
}
.work__list-item {
  position: relative;
  padding-left: 2.8rem;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #959595;
}
.work__list-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1rem;
  width: 2rem;
  height: 1px;
  background-color: #959595;
}
.work__list-item > a {
  text-decoration: underline;
}
.work__list-item > a:hover {
  text-decoration: none;
}
.work__list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}
.work__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work__price-box {
  position: relative;
  padding: 0.8rem 2.2rem;
  background-color: #F3F3F3;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #7F8B8A;
}
.work__price-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: white;
}
.work__price-box:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border-radius: 100%;
  background-color: white;
}
.work__price {
  margin: 0 0.6rem;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
}
.work__currency {
  font-weight: 600;
}

@media (max-width: 48em) {
  .work__title {
    margin-bottom: 8rem;
    font-size: 5.2rem;
    line-height: 6.8rem;
  }
  .work__cards {
    gap: 4rem;
  }
  .work__item {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: none;
    padding-top: 0.8rem;
    border-radius: 3rem;
    -webkit-box-shadow: 2px 2.6rem 5.2rem 0 rgba(66, 66, 66, 0.0509803922);
            box-shadow: 2px 2.6rem 5.2rem 0 rgba(66, 66, 66, 0.0509803922);
  }
  .work__img-box {
    width: 100%;
    height: 49.6rem;
    padding: 0 0.8rem;
  }
  .work__item-content {
    padding: 5.6rem 4rem;
    margin-top: -4rem;
  }
  .work__item-title {
    margin-bottom: 2.4rem;
    font-size: 5.2rem;
    line-height: 6.8rem;
  }
  .work__item-tags {
    gap: 2.4rem;
    margin-bottom: 4rem;
  }
  .work__tag {
    padding: 0.8rem 4rem;
    border-radius: 1rem 6rem 6rem 1rem;
    font-size: 2.6rem;
  }
  .work__list {
    margin-bottom: 4rem;
  }
  .work__list-item {
    padding-left: 5.2rem;
    font-size: 3rem;
    line-height: 4rem;
  }
  .work__list-item:before {
    top: 1.8rem;
    width: 3.6rem;
  }
  .work__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    gap: 6.4rem;
  }
  .work__footer .link {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .work__price-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.6rem 4rem;
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
  .work__price-box:before {
    width: 3.2rem;
    height: 3.2rem;
  }
  .work__price-box:after {
    width: 3.2rem;
    height: 3.2rem;
  }
  .work__price {
    margin: 0 0 0 0.8rem;
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
}
body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}