.catalog-intro {
  &__slider-box {
    margin-bottom: 4rem;
    background-color: white;
  }

  &__slider {
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 0;
  }

  &__info-block {
    width: 97.4rem;
  }

  &__title {
    margin-bottom: 4rem;
    font-family: $tablon;
    font-weight: 500;
    font-size: 6rem;
    line-height: 7.8rem;
    letter-spacing: .03em;

    &--red {
      color: $red;
    }
  }

  &__desc {
    width: 91.4rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    line-height: 2.7rem;
    color: $gray-text;
  }

  &__img-box {
    position: absolute;
    right: 0;
    top: 0;
    width: 43.7rem;
    height: 100%;
    padding: 7rem 4rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .catalog-intro__img-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__nav-box {
    width: 158.2rem;
    column-gap: 0;
  }
}

@media (max-width: 48em) {
  .catalog-intro {
    &__slider-box {
      margin-bottom: 6.4rem;
    }

    &__slider {
    }

    &__slide {
      display: block;
      padding: 6rem 0 0 0;
    }

    &__info-block {
      width: 100%;
      margin-bottom: 5.6rem;
    }

    &__title {
      font-size: 5.2rem;
      line-height: 6.8rem;
    }

    &__desc {
      width: 100%;
      margin-bottom: 6.4rem;
      font-size: 3rem;
      line-height: 4rem;
    }

    &__img-box {
      position: relative;
      width: calc(100% + 8rem);
      height: 50rem;
      padding: 4.8rem;
      margin: 0 -4rem;
    }

    .catalog-intro__img-bg {
    }

    &__nav-box {
      width: 100%;
      column-gap: 0;

      .slider-nav__arrows {
        width: 100%;
      }
    }
  }
}