.modal-map {
  &__content-box {
    position: relative;
    width: 158rem;
    height: 107.5rem;
    border-radius: 2.5rem;
    background-color: $black;
    overflow: hidden;
  }

  &__content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 208rem;
    height: 157.5rem;
    transform: translate(-50%, -50%);
  }

  &__content {
    position: relative;
    left: 20rem;
    top: 35rem;
    width: 158rem;
    height: 90rem;
    cursor: grab;
  }

  &__close {
    position: absolute;
    right: 4rem;
    top: 4rem;
    z-index: 5;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 100%;
    border: 1px solid white;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 50%;
      height: 1px;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: white;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 50%;
      height: 1px;
      transform: translate(-50%, -50%) rotate(-45deg);
      background-color: white;
    }

    &:hover {
      opacity: .6;
    }
  }
}

.map {
  &__title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 6rem;

    .link {
      flex: none;
    }
  }

  &__title {
    font-family: $tablon;
    font-weight: 500;
    font-size: 6rem;
    line-height: 7.8rem;
    letter-spacing: .03em;
  }

  &__content-box {
    position: relative;
    width: 100%;
    height: 50rem;
    border-radius: 4rem;
    background-color: $black;
    overflow: hidden;
  }

  &__content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 208rem;
    height: 157.5rem;
    transform: translate(-50%, -50%);
  }

  &__content {
    position: relative;
    left: 25rem;
    top: 55rem;
    width: 158rem;
    height: 90rem;
    cursor: grab;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 500%;
      height: 500%;
      transform: translate(-50%, -50%);
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 156.7rem;
    height: 87.7rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__list {
  }

  &__item {
    position: absolute;
    display: flex;
    gap: 1.6rem;

    &:hover {
      .map__icon > img {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          display: block;
        }
      }
    }
  }

  &__icon {
    width: 1.8rem;
    height: 1.8rem;

    > img {
      width: 100%;
      height: 100%;
      transform: scale(1.6);
      object-fit: contain;

      &:nth-child(2) {
        display: none;
      }
    }
  }

  &__text-box {
    width: 21rem;
    font-size: 2rem;
    line-height: 2.7rem;
    color: white;
  }

  &__item-title {
    font-weight: 600;
  }

  &__item-desc {
    font-weight: 400;
  }
}

@media (max-width: 48em) {
  .modal-map {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    max-height: 100%;

    &__content-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 0;
      background-color: #7F8B8A;
    }

    &__content-wrapper {
      width: 300rem;
      height: 140rem;
    }

    &__content {
      position: relative;
      left: 20rem;
      top: 35rem;
      width: 158rem;
      height: 90rem;
      cursor: grab;
    }

    &__content {
    }

    &__close {
      right: 4rem;
      top: 10rem;
      width: 9.6rem;
      height: 9.6rem;
    }
  }

  .map {
    &__title-box {
      margin-bottom: 8rem;
    }

    &__title {
      font-size: 5.2rem;
      line-height: 6.8rem;
    }

    &__content-box {
      height: 96rem;
      margin-bottom: 6rem;
      border-radius: 3rem;
      background-color: #7F8B8A;
    }

    &__content-wrapper {
      width: 300rem;
      height: 140rem;
    }

    &__content {
      left: 39rem;
      top: 30rem;
    }

    &__bg {
    }

    &__list {
    }

    &__item {
      gap: 2.4rem;
    }

    &__icon {
      width: 3.2rem;
      height: 3.2rem;
    }

    &__text-box {
      width: 50rem;
    }

    &__item-title {
      font-weight: 400;
      font-size: 4rem;
      line-height: 5.4rem;
    }

    &__item-desc {
      font-size: 3rem;
      line-height: 4rem;
    }
  }
}