.sales-leader {
  &__title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 6rem;

    .link {
      flex: none;
    }
  }

  &__title {
    font-family: $tablon;
    font-weight: 500;
    font-size: 6rem;
    line-height: 7.8rem;
    letter-spacing: .03em;
  }

  &__slider {
    margin-bottom: 4rem;
  }

  &__slide {
    padding: 3.2rem 3.2rem 2.2rem 3.2rem;
    border-radius: 2rem;
    background-color: white;
  }

  &__img-box {
    width: 100%;
    height: 22.6rem;
    padding: 2.4rem;
    margin-bottom: 2.4rem;
    border-radius: inherit;
    background-color: #F3F3F3;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__slide-title {
    margin-bottom: 1.2rem;
    font-family: $tablon;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.4rem;
    letter-spacing: .03em;

    &--slim {
      font-family: $gilroy;
      font-weight: 300;
    }
  }

  &__slide-tag {
    width: fit-content;
    padding: 0.8rem 3rem;
    margin-bottom: 3.2rem;
    border-radius: 0.5rem 3rem 3rem 0.5rem;
    background-color: $gray;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: white;
  }

  &__slide-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2.7rem;
    color: $gray-text;
  }

  &__slide-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slide-price-box {
    position: relative;
    padding: 0.8rem 2.2rem;
    background-color: #D9D9D9;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: $gray;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 2rem;
      height: 2rem;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background-color: white;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 2rem;
      height: 2rem;
      transform: translate(50%, -50%);
      border-radius: 100%;
      background-color: white;
    }
  }

  &__slide-price {
    margin: 0 0.6rem;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  &__slide-currency {
    font-weight: 600;
  }

  &__nav-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 48em) {
  .sales-leader {
    &__title-box {
      margin-bottom: 8rem;
    }

    &__title {
      font-size: 5.2rem;
      line-height: 6.8rem;
    }

    &__slider {
      margin-bottom: 7rem;
    }

    &__slide {
      padding: 4rem 4rem 5.6rem 4rem;
      border-radius: 3rem;
    }

    &__img-box {
      height: 43.4rem;
      padding: 4.4rem;
      margin-bottom: 4rem;
    }

    &__slide-title {
      margin-bottom: 3.2rem;
      font-size: 5.2rem;
      line-height: 6.8rem;
    }

    &__slide-tag {
      padding: 0.8rem 4rem;
      margin-bottom: 4rem;
      border-radius: 1rem 6rem 6rem 1rem;
      font-size: 2.6rem;
      line-height: 3.5rem;
    }

    &__slide-text {
      margin-bottom: 5rem;
      font-size: 3.6rem;
      line-height: 4.8rem;
    }

    &__slide-footer {
    }

    &__slide-price-box {
      padding: 1.6rem 4rem;
      font-size: 2.6rem;
      line-height: 3.5rem;

      &:before {
        width: 3.2rem;
        height: 3.2rem;
      }

      &:after {
        width: 3.2rem;
        height: 3.2rem;
      }
    }

    &__slide-price {
      margin: 0 0 0 0.8rem;
      font-size: 3.6rem;
      line-height: 4.8rem;
    }

    &__slide-currency {
    }

    &__nav-block {
      margin-bottom: 5rem;
    }
  }
}